name: Grand CI

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      max-parallel: 2
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.13t"]

    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          uv sync --extra grand
      - name: Test networkx engine with pytest
        run: |
          uv run pytest -x --benchmark-skip -k "networkx-engine"
